You've been added to Ozonefit Access.
===============================================
= "\r\n"
Login Details:
= "\r\n"
= "Your login name is: #{@email}"
= "\r\n"
Finish setting up your account by going to:
= "#{ENV['app_url']}/users/password/edit?initial=true&reset_password_token=#{@password_token}"