%h2.center-align Forgot your password?
%hr
  .row
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post   }) do |f|
      .row
        = devise_error_messages!
        .input-field.col.s12.m6.offset-m3
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true
        .clearfix
        .actions.center
          = f.submit "Send", class: 'btn ozone-button darken-1'
    = render "devise/shared/links"