New O.ZoneFit Access Lead
===============================================
= "\r\n"
Details:
= "\r\n"
= "First Name: #{@first_name}"
= "\r\n"
= "Last Name: #{@last_name}"
= "\r\n"
= "Email: #{@email}"
= "\r\n"
= "Phone: #{@phone}"
= "\r\n"
= "Message: #{@body}"